<h1 class="title is-1">Games</h1>

<%= form_with(url: search_games_path, method: :get, local: true)  do %>
       <div class="field is-grouped mb-5">
        
        <div class="control">
            <%= label_tag "Teams" %>
            <%= collection_select(:team, :team_ids, Team.all, :id, :name, { prompt: "Select Team" }, class: "form-control") %>
        </div>

        <div class="control">
            <%= label_tag "Genres" %>
            <%= collection_select(:genre, :genre_ids, Genre.all, :id, :name, { prompt: "Select Genre" }, class: "form-control") %>
        </div>

        <div class="control is-expanded">
            <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search For Games') %>
        </div>

        <div class="control">
          <%= submit_tag('Search', class: "button is-primary")%>
        </div>
       </div>
      <% end %>

<ul>
    <% @games.each do |g|%>
    <li>
        <%= link_to g.title, g %>
    </li>
     <% end %>
</ul>

<%= paginate @games %>