<% content_for(:html_title) {@game.title}%>
<div class = "content">
<h2 class="title is-2"><%= @game.title %></h2>
<progress class="progress is-info" value="<%=@game.rating%>" max=5>
    <%= @game.rating%>
</progress>
<p class="mb-5">
    <strong>
        This game received <%= @game.reviews.count %> reviews with avegare rating of <%= @game.rating %>. 
    </strong>
</p>
<p class="mb-5">
    <strong>
        The game was released on <%= @game.formatted_release_date %>. 
    </strong>
</p>

<p class="mb-5">
    <strong>
        Development team(s): 
    </strong>
    <ul>
        <% @game.teams.each do |team| %>
             <li>
               <%= link_to team.name, team_path(team) %>
            </li>
        <% end %>
    </ul>
</p>

<p class="mb-5">
    <strong>
        Genre(s): 
    </strong>
    <ul>
        <% @game.genres.each do |genre| %>
             <li>
               <%= link_to genre.name, genre_path(genre) %>
            </li>
        <% end %>
    </ul>
</p>

<p class="mb-5">
    <strong>
        Summary:
    </strong>
    <%= @game.summary %>
</p>
<p class="mb-5">
    <strong>
        Reviews:
    </strong>
    <ul>
        <% @game.reviews.each do |review| %>
             <li>
               <%= link_to review.content, review_path(review) %>
            </li>
        <% end %>
    </ul>
</p>
</div>
